*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --topHeight:50px;
    --progressColor:#003a70;
    --mainColor: #bf0009;
    --secundaryColor:#a50103;
    --background:#252525;
    --white:#E1D9D1;
    --normalColor: #A8A77A;
    --fireColor: #EE8130;
    --waterColor: #6390F0;
    --electricColor: #cdab1b;
    --grassColor: #7AC74C;
    --iceColor: #70c3bf;
    --fightingColor: #C22E28;
    --poisonColor: #A33EA1;
    --groundColor: #E2BF65;
    --flyingColor: #A98FF3;
    --psychicColor: #F95587;
    --bugColor: #A6B91A;
    --rockColor: #B6A136;
    --ghostColor: #735797;
    --dragonColor: #6F35FC;
    --darkColor: #705746;
    --steelColor: #B7B7CE;
    --fairyColor: #D685AD;
}

body{
    display: grid;
    place-items: center;
    background: url("../src/background.jpg") no-repeat;
    background-size: cover;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pokedex{
    --pokedexWidth:450px;
    display: grid;
    /*grid-template-columns: repeat(2,min(var(--pokedexWidth),100%));*/
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-columns: repeat(2,var(--pokedexWidth));
    height: 100vh;
    min-height: 500px;
    /*max-height: 700px;*/
    /*overflow: hidden;*/
    transition: transform .5s ease-in-out;
    font-size: 20px;
}

.pokedex > * {
    max-width: var(--pokedexWidth);
}

.info-label{
    color: #0c0c0c;
    text-transform: capitalize;
    font-weight: bold;
}

/*
    SECCION SEARCH
 */

.pokedex-search-wrapper{
    display: flex;
    flex-direction: column;
}

.pokedex-search-top{
    flex: 0 0 calc(var(--topHeight)*2);
    background-color: var(--mainColor);
    border-radius: 10px 10px 0 0;
    isolation: isolate;
    z-index: -1;
}

.pokedex-search-top .pokedex-info-top{
    transform: rotateY(180deg);
}

.pokedex-top-nav{
    height: var(--topHeight);
}

.circle{
    aspect-ratio:1/1;
    border-radius: 100%;
}

.big-blue-button{
    position: relative;
    width: 60px;
    background-color: #347bbc;
    border: 3px solid var(--white);
    top: 10px;
    left: 10px;
}

.white-circle{
    position: relative;
    background-color: var(--white);
    width: 10px;
    opacity: .6;
    top: 15%;
    left: 15%;
}

.pokedex-search{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.display-pokemon{
    flex-basis: 50%;
    display: grid;
    place-items: center;
    padding: 5px;
    background-color: var(--mainColor);
}

.display-pokemon > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    aspect-ratio: 1/ .75;
    border: 10px solid #ccc;
    background-color: var(--background);
    border-radius: 10px;
}

.search-box{
    display: grid;
    place-items: center;
    flex-basis: 10%;
    background-color: var(--mainColor);
    padding: 5px;
}

.search-box form{
    display: flex;
    align-items: stretch;
    gap: 5px;
}

.search-input{
    width: 75%;
    border: 2px solid black;
    color: var(--white);
    text-align: center;
    font-weight: bold;
    background: var(--background);
    padding: 8px 16px;
    border-radius: 5px;
}

.search-input:focus-visible,
.search-input:focus,
.search-input:active
{
    outline: none !important;
    border: 2px solid black;
}

.submit-button{
    display: grid;
    place-items: center;
    width: 25%;
    cursor: pointer;
    color: var(--white);
    background: var(--background);
    border-radius: 5px;
    border: 2px solid black;
}

.submit-button:hover{
    backdrop-filter: brightness(70%);
}

.controls{
    flex-basis: 40%;
    display: grid;
    grid-template-areas: "direction buttons";
    grid-template-columns: 1fr 1fr;
    background-color: #7e1818;
    border-radius: 0 0 0 10px;
}

.control-buttons{
    grid-area: buttons;
    padding: 25px;
    display: grid;
    place-items: center;
}

.control-buttons img{
    /*min-width: 150px;*/
}

.control-directions{
    grid-area: direction;
    display: grid;
    place-content: center;
    grid-template-areas: ". . top . ."
                        "leftIcon left center right rightIcon"
                        ". . bottom . .";
    grid-template-rows: repeat(3,2.25em);
    grid-template-columns: repeat(5,2.25em);
    --pokemonAnimation: up-and-down .2s infinite alternate;

}

.control-directions >*{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-directions > * svg{
    width: 100%;
    height: 100%;
}

.control-directions > * img{
    object-fit: cover;
}

.toparrow{
    align-self: end;
    grid-area: top;
}

.leftsprite{
    cursor: pointer;
    grid-area: leftIcon;
}

.leftarrow{
    cursor: pointer;
    grid-area: left;
}

.leftarrow:hover svg,
.rightarrow:hover svg{
    fill: var(--background);
}

.leftsprite:hover img,
.leftarrow:hover + .leftsprite img{
    animation: var(--pokemonAnimation)
}

.centerarrow{
    grid-area: center;
}

.rightarrow{
    cursor: pointer;
    grid-area: right;
}

.rightsprite{
    cursor: pointer;
    grid-area: rightIcon;
}

.rightsprite:hover img,
.rightarrow:hover + .rightsprite img{
    animation: var(--pokemonAnimation)
}

.bottomarrow{
    align-self: start;
    grid-area: bottom;
}



/*
    SECCION INFO
 */
.pokedex-info-wrapper{
    position: relative;
    align-self: end;
    height: calc(100% - var(--topHeight) + 1px);
}

.pokedex-info-wrapper > div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 3px solid var(--secundaryColor);

}

.pokedex-info-front-wrapper{
    display: block;
    visibility: visible;
    opacity: 1;
    transform-origin: left;
    animation: flip-with-rotate-front 2s ease-in-out;
}

.pokedex-info-front-wrapper{
    display: flex;
    flex-direction: column;
}

.pokedex-info-front-wrapper .pokedex-info-top{
    position: relative;
}

.pokedex-info-top{
    flex: 0 0 var(--topHeight);
    height: calc(var(--topHeight) - 5px);
}

.pokedex-info-top > svg{
    width: 100%;
    fill: var(--mainColor);
}

.pokedex-info-top > svg > *{
    stroke: var(--secundaryColor);
    fill: var(--mainColor);
}

.pokedex-info-top svg line{
    stroke-width: 30px;
}

.pokedex-info-top svg path{
    stroke-width: 15px;
}

.pokedex-info{
    flex-basis: 100%;
    background-color: var(--mainColor);
    padding: 10px;
    color: var(--white);
    border-radius: 0 0 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
}

.pokedex-info > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--background);
    border: 3px solid #ccc;
    border-radius: 10px;
    height: 100%;
    padding: .25em 1em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pokemon-name{
    font-size: 1.5em;
    text-align: center;
    text-transform: capitalize;
}

.pokemon-entry{
    font-size: .9em;
    padding: .8em;
    text-align: justify;
}

.pokemon-types{
    display: flex;
    align-items: center;
    gap: 5px;
}

.type{
    position: relative;
    display: inline-block;
    place-items: center;
    font-size: .5em;
    width: 5.5em;
    height: 1.5em;
    aspect-ratio: 1 / .25;
    border-radius: 2px;
}

.type::after{
    content: "";
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
}

.normalType{
    background-color: var(--normalColor);
}

.normalType::after{
    content: "normal";
}

.fireType{
    background-color: var(--fireColor);
}

.fireType::after{
    content: "fire";
}

.waterType{
    background-color: var(--waterColor);
}

.waterType::after{
    content: "water";
}

.electricType{
    background-color: var(--electricColor);
}

.electricType::after{
    content: "electric";
}

.grassType{
    background-color: var(--grassColor);
}

.grassType::after{
    content: "grass";
}

.iceType{
    background-color: var(--iceColor);
}

.iceType::after{
    content: "ice";
}

.fightingType{
    background-color: var(--fightingColor);
}

.fightingType::after{
    content: "fighting";
}

.poisonType{
    background-color: var(--poisonColor);
}

.poisonType::after{
    content: "poison";
}

.groundType{
    background-color: var(--groundColor);
}

.groundType::after{
    content: "ground";
}

.flyingType{
    background-color: var(--flyingColor);
}

.flyingType::after{
    content: "flying";
}

.psychicType{
    background-color: var(--psychicColor);
}

.psychicType::after{
    content: "psychic";
}

.bugType{
    background-color: var(--bugColor);
}

.bugType::after{
    content: "bug";
}

.rockType{
    background-color: var(--rockColor);
}

.rockType::after{
    content: "rock";
}

.ghostType{
    background-color: var(--ghostColor);
}

.ghostType::after{
    content: "ghost";
}

.dragonType{
    background-color: var(--dragonColor);
}

.dragonType::after{
    content: "dragon";
}

.darkType{
    background-color: var(--darkColor);
}

.darkType::after{
    content: "dark";
}

.steelType{
    background-color: var(--steelColor);
}

.steelType::after{
    content: "steel";
}

.fairyType{
    background-color: var(--fairyColor);
}

.fairyType::after{
    content: "fairy";
}

.pokemon-stats{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pokemon-stats .stat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    align-items: center;
}

.pokemon-stats .stat progress{
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: .80em;
}

.pokemon-stats .stat progress[value]::-webkit-progress-bar {
    background-color: var(--background);
}

.pokemon-stats .stat progress::-moz-progress-bar {
    background: var(--background);
}

progress[value]::-webkit-progress-value{
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--progressColor);
    background-position: -100px 100px;
}

.general-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.pokemon-moves h2{
    text-align: center;
}

.move-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.pokedex-info-back-wrapper{
    display: flex;
    flex-direction: column;
    visibility: hidden;
    transform-origin: left;
    animation: flip-with-rotate-back 2s ease-in-out;
}

.pokedex-info-back-wrapper .pokedex-info-top svg{
    will-change: filter;
    filter: var(--shadow);
    animation: moveShadow 4s ease-in-out;
}

.pokedex-back{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-basis: 100%;
    background-color: var(--mainColor);
    padding: 10px;
    color: var(--white);
    transform: rotateY(180deg);
}

.pokedex-back .open-icon{
    flex-basis: 25px;
    display: flex;
    align-items: center;
}

.pokedex-back .open-icon svg{
    width: 100%;
    height: 100%;
}

.pokedex-back svg path{
    fill: var(--secundaryColor);
}


.pokedex-back span {
    color: var(--secundaryColor);
    font-size: 2em;
}

.more-info{
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    /*position: absolute;*/
    margin-top: 10px;
}

.more-info-button{
    width: 60%;
    padding: 8px 16px;
    font-weight: bold;
    background-color: var(--progressColor);
    border-radius: 5px;
    color: var(--white);
    border: 2px solid black;
}

.back-button{
    display: none;
    gap: 5px;
    position: absolute;
    top: 55%;
    left: 20px;
    border: 0;
    background: transparent;
    color: var(--electricColor);
    font-weight: bold;
    font-size: 15px;

}

@keyframes flip-with-rotate-front {
    0% {
        transform: perspective(1000px) rotateY(180deg);
        visibility: hidden
    }

    50%{
        visibility: visible;
    }

    100% {
        opacity: 1;
        transform: perspective(1000px) rotateY(360deg);
    }
}

@keyframes flip-with-rotate-back {
    0% {
        transform: perspective(1000px) rotateY(180deg);
        visibility: visible;
    }

    50%{
        visibility: hidden;
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

@keyframes up-and-down {
    from { transform: translateY(0); }
    to { transform: translateY(-10px); }
}

@keyframes moveShadow {
    from{
        filter: drop-shadow(0px -6px 6px rgba(0,0,0,.75));;
    }
    to{
        filter: drop-shadow(0px -6px 6px rgba(0,0,0,0));;
    }
}

/*
    MEDIA QUERIES
 */


@media only screen and (min-width: 601px){
    .pokedex{
        place-content: center;
    }
}

@media only screen and (max-width: 900px){
    .pokedex{
        --pokedexWidth: 1fr;
        font-size: 18px;
    }
}

@media only screen and (max-width: 700px){
    .control-buttons{
        padding: 10px;
    }
}

@media only screen and (max-width: 600px){

    html, body {margin: 0; height: 100%; overflow-x: hidden}

    .pokedex{
        --pokedexWidth: 100vw;
    }

    .controls{
        font-size: 27px;
    }

    .control-buttons{
        padding: 25px;
    }

    .control-buttons img{
        min-width: 140px;
    }

    .display-pokemon > div {
        aspect-ratio: 1 / 0.75
    }

    .pokedex.open{
        transform: translateX(-100vw);
    }

    .more-info,
    .back-button{
        display: flex;
    }
}

@media only screen and (max-width: 500px){

    .display-pokemon{
        /*max-height: fit-content;*/
    }

    .display-pokemon > div {
        aspect-ratio: 1 / .75;
    }

    .controls{
        font-size: 22px;
        /*font-size: 17px;*/
    }

    .control-buttons img{
        min-width: 110px;
    }
}

@media only screen and (max-width: 450px){
    .display-pokemon > div {
        aspect-ratio: 1 / 1;
    }
}

@media only screen and (max-width: 400px){

    .controls{
        padding: 10px;
        grid-template-columns: 1fr;
        font-size: 25px;
    }

    .control-buttons{
        display: none;
    }

    .display-pokemon > div {
        aspect-ratio: 1 / 1.25
    }
}