*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --topHeight:50px;
    --mainColor: #bf0009;
    --secundaryColor:#a50103;
    --black:#252525;
    --white:#E1D9D1;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.pokedex{
    display: grid;
    grid-template-columns: repeat(2,min(350px,100%));
    height: 100vh;
    min-height: 500px;
    max-height: 700px;
    overflow: hidden;
}

.pokedex > * {
    max-width: 350px;
}

.pokedex-search-wrapper{
    display: flex;
    flex-direction: column;
}

.pokedex-search-top{
    flex: 0 0 calc(var(--topHeight)*2);
    background-color: var(--secundaryColor);
}

.pokedex-search{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: var(--mainColor);
}

.display-pokemon{
    flex-basis: 50%;
    display: grid;
    place-items: center;
    padding: 5px;
}

.display-pokemon > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    aspect-ratio: 1/.75;
    border: 10px solid #ccc;
    background-color: var(--black);
    border-radius: 10px;
}

.search-box{
    display: grid;
    place-items: center;
    flex-basis: 10%;
    background-color: var(--mainColor);
    padding: 5px;
}

.search-box form{
    display: flex;
    align-items: stretch;
    gap: 5px;
}

.search-input{
    width: 75%;
    border: 1px solid black;
    color: var(--white);
    text-align: center;
    font-weight: bold;
    background: var(--black);
    padding: 8px 16px;
    border-radius: 5px;
}

.search-input:focus-visible,
.search-input:focus,
.search-input:active
{
    outline: none !important;
    border: 1px solid black;
}

.submit-button{
    display: grid;
    place-items: center;
    width: 25%;
    cursor: pointer;
    color: var(--white);
    background: var(--black);
    border-radius: 5px;
}

.submit-button:hover{
    backdrop-filter: brightness(70%);
}

.controls{
    flex-basis: 40%;
    display: grid;
    grid-template-areas: "direction buttons";
    grid-template-columns: 1fr 1fr;
    background-color: #7e1818;
}

.control-buttons{
    grid-area: buttons;
    padding: 25px;
    display: grid;
    place-items: center;
}

.control-directions{
    grid-area: direction;
    display: grid;
    place-content: center;
    grid-template-areas: ". . top . ."
                        "leftIcon left center right rightIcon"
                        ". . bottom . .";
    grid-template-rows: repeat(3,35px);
    grid-template-columns: repeat(5,35px);
    --pokemonAnimation: up-and-down .2s infinite alternate;

}

.control-directions >*{
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-directions > * svg{
    width: 100%;
    height: 100%;
}

.control-directions > * img{
    object-fit: cover;
}

.toparrow{
    align-self: end;
    grid-area: top;
}

.leftsprite{
    cursor: pointer;
    grid-area: leftIcon;
}

.leftarrow{
    cursor: pointer;
    grid-area: left;
}

.leftarrow:hover svg,
.rightarrow:hover svg{
    fill: var(--black);
}

.leftsprite:hover img,
.leftarrow:hover + .leftsprite img{
    animation: var(--pokemonAnimation)
}

.centerarrow{
    grid-area: center;
}

.rightarrow{
    cursor: pointer;
    grid-area: right;
}

.rightsprite{
    cursor: pointer;
    grid-area: rightIcon;
}

.rightsprite:hover img,
.rightarrow:hover + .rightsprite img{
    animation: var(--pokemonAnimation)
}

.bottomarrow{
    align-self: start;
    grid-area: bottom;
}

.pokedex-info-wrapper{
    position: relative;
    align-self: end;
    height: calc(100% - var(--topHeight) + 1px);
}

.pokedex-info-wrapper > div {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;

}

.pokedex-info-front-wrapper{
    display: block;
    background-color: darkred;
    visibility: visible;
    opacity: 1;
    transform-origin: left;
    /*animation: flip-with-rotate-front 2s ease-in-out;*/
}

.pokedex-info-front-wrapper{
    display: flex;
    flex-direction: column;
}

.pokedex-info-top{
    flex: 0 0 var(--topHeight);
    background-color: var(--secundaryColor);
}

.pokedex-info{
    flex-basis: 100%;
    background-color: var(--mainColor);
    padding: 10px;
    color: var(--white);
}

.pokedex-info > div{
    background-color: var(--black);
    border: 3px solid #ccc;
    border-radius: 10px;
    height: 100%;
    padding: .25em;
}

.pokemon-name{
    font-size: 1.5em;
    text-align: center;
    text-transform: capitalize;
}

.pokemon-entry{
    padding: 1em;
}

.pokedex-info-back{
    visibility: hidden;
    background-color: #1E3E73;
    transform-origin: left;
}

@keyframes flip-with-rotate-front {
    0% {
        transform: perspective(1000px) rotateY(180deg);
        visibility: hidden
    }

    50%{
        visibility: visible;
    }

    100% {
        opacity: 1;
        transform: perspective(1000px) rotateY(360deg);
    }
}

@keyframes flip-with-rotate-back {
    0% {
        transform: perspective(1000px) rotateY(180deg);
        visibility: visible;
    }

    50%{
        visibility: hidden;
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

@keyframes up-and-down {
    from { transform: translateY(0); }
    to { transform: translateY(-10px); }
}