@font-face {
    font-family: crossed;
    src: url("../fonts/CrosstenMedium.otf");
}

@font-face {
    font-family: crossedBold;
    src: url("../fonts/CrosstenBold.otf");
}

@font-face {
    font-family: crossedSemiBold;
    src: url("../fonts/CrosstenSemiBold.otf");
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    --leftPadding:120px;
    --rightPadding:100px;
    --mainBlue:#3269D9;
    --lightBlue:#E6F5FD;
    --darkBlue:#1E3E73;
    --darkGray:#6C7A93;
    --lightGray:rgba(235,242,252,1);
    --yellow:#ffd012;
    --shadowColor:#edf1fe;
    --backgroundImages:linear-gradient(90deg, rgba(14,145,228,1) 0%, rgba(49,104,221,1) 100%);

    font-family: crossed,sans-serif;
}

header{
    width: 100%;
    padding: 34px var(--rightPadding) 32px var(--leftPadding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.5%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(230,245,253,1) 51%, rgba(235,242,252,1) 100%);
}

header > *:first-child{
    margin-right: auto;
}

section{
    margin-top: 5px;
}

.section1{
    position: relative;
    height: 100vh;
}

.section1-content{
    position: relative;
    padding: 85px 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-image: url("../src/section1Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section1-content h2{
    line-height: 1;
    text-transform: capitalize;
}

.section1-content > p {
    width: 90%;
    align-self: start;
}

.section1-content .medals {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
}

.section1-content .medals span {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section1-content .medals svg {
    color: var(--yellow);
}

.schedule{
    position: absolute;
    bottom: 20px;
    padding: 0px 120px;
    width: 85%;
}

.schedule > h3 {
    gap: 10px;
}

.schedule-info{
    padding: 40px;
    margin-top: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .9);
    border: 1px solid white;
    backdrop-filter: blur(7px);
    gap: 20px;
}

.schedule-info > div:not(:last-child){
    display: grid;
    grid-template-areas: "badge title"
                         ". info";
    gap: 10px;
}

.schedule-info > * .badge{
    grid-area: badge;
}

.schedule-info > * p:first-child{
    grid-area: title;
}

.schedule-info > * p:last-child{
    grid-area: info;
    /*line-height: 2em;*/
}

.schedule-info button{
    width: 80%;
    height: 80%;
}

.section2{
    display: flex;
    padding: 60px var(--rightPadding) 0px var(--leftPadding);
    height: 30vh;
    justify-content: center;
    align-items: baseline;
    gap: 4%;
}

.section2 > * {
    width: 100%;
    /*height: 100%;*/
    display: grid;
    place-items: center;
}

.section2 img {
    max-width: 80%;
    height: 100%;
    object-fit: contain;
}

img.astrazeneca,
img.moderna{
    max-width: 100%;
}

.section3{
    padding-left: 110px;
}

.section-title{
    display: grid;
    grid-template-areas: ". image"
                        "title image"
                        "info image"
                        "info .";
    grid-template-columns: 45% 1fr;
    grid-template-rows: repeat(4,1fr);
}

.section-title-right{
    grid-template-columns: 45% 55%;
    grid-template-areas: "image ."
                        "image title"
                        "image info"
                        ". info";
}

.section-title h2{
    grid-area: title;
}

.section-title .section-title-image {
    grid-area: image;
}

.section-title img {
    grid-area: image;
    object-fit: contain;
}

.section-title-right img {
    transform: rotateY(180deg);
}

.section-title p{
    padding-right: 11%;
    grid-area: info;
    margin-top: 1em;
    line-height: 1.75;
}

.section-title-right p{
    margin-left: 14%;
    /*padding-right: 14%;*/
}

.section-title-right h2
{
    margin-left: 14%;
}

.section3 .benefits{
    padding: 25px var(--rightPadding) 40px 0;
    gap: 2.5%;
}

.section3 .benefits > div {
    position: relative;
    display: grid;
    grid-template-areas: "badge"
                        "title"
                        "info";
    padding: 25px;
    padding-bottom: 40px;
    gap: 15px;
    border: 2px solid rgba(250,251,254,255);
    border-radius: 5px;
    /*transition: border-color ease-in .2s, box-shadow ease-in .2s;*/
}

.section3 .benefits .benefits-badge{
    grid-area: badge;
}

.section3 .benefits .benefits-title{
    position: relative;
    grid-area: title;
    width: 90%;
}

.section3 .benefits .benefits-info{
    grid-area: info;
    line-height: 1.5em;
}

.section3 .benefits > div:hover{
    border-color: white;
    box-shadow: -3px 44px 47px -11px var(--shadowColor);
}

.section3 .benefits > div .benefits-shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 75%;
    transform: scaleY(600%);
    /*transition: box-shadow ease-in .2s;*/
}

.section3 .benefits > div:hover .benefits-shadow{
    box-shadow: 25px 27px 28px 10px var(--shadowColor);
}

.section3 .benefits > div .badge{
    /*transition: box-shadow ease-in .2s;*/
}

.section3 .benefits > div:hover .badge{
    box-shadow: 0px 17px 34px 13px var(--shadowColor);
    -webkit-box-shadow: 0px 17px 34px 13px var(--shadowColor);
    -moz-box-shadow: 00px 17px 34px 13px var(--shadowColor);
}

.section4{
    padding-right: var(--rightPadding);
}

.section-of-two{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    height: 70vh;
}

.section-of-two img{
    height: 130%;
    position: relative;
    bottom: 30%;
}

.section4-preparations{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5%;
}

.section4-preparations details{
    width: 80%;
    padding: 1em 1.5em;
    border: 2px solid rgba(250,251,254,255);
    border-radius: 5px;
}

.section4-preparations details p {
    padding: 1em 4em;
}

.section4-preparations summary{
    display: flex;
    align-items: center;
    gap: 5%;
}

.section4-preparations summary > *:last-child{
    margin-left: auto;
}

.section4-preparations details summary > *:last-child svg {
    transition: transform ease-in .2s;
}

.section4-preparations details[open] summary > *:first-child,
.section4-preparations details[open] summary > *:last-child{
    box-shadow: 0px 8px 11px 1px var(--shadowColor);
}

.section4-preparations details[open] summary > *:last-child svg {
    transform: rotateZ(180deg);
}

.section4-preparations summary::marker{
    display: none;
    content: "";
}

.section5{
    padding-left: 110px;
}

.section5 .section-title p{
    padding-right: 0;
}

.section5 .section-of-two img {
    height: 110%;
    bottom: 10%;
    /*object-fit: fill;*/
}

.section5-contacts{
    display: grid;
    grid-template-columns: repeat(2,50%);
    /*grid-template-rows: repeat(2,50%);*/
    gap: 2em;
}

.section5-contacts .contact{
    display: grid;
    grid-template-areas: "badge type"
                        "badge number"
                        "button button";
    grid-template-columns: 50px 1fr;
    gap: 8% 10%;
    padding: 2em 1.75em;
    border: 3px solid rgba(250,251,254,255);
    border-radius: 10px;
}

.section5-contacts .contact:hover{
    box-shadow: 0px 33px 43px 6px var(--shadowColor);
}

.section5-contacts .contact-info .badge{
    grid-area: badge;
}

.section5-contacts .contact-info:hover .badge{
    grid-area: badge;
    box-shadow: 0px 24px 20px 11px var(--shadowColor)
}

.section5-contacts .contact-info .contact-type{
    grid-area: type;
}

.section5-contacts .contact-info .contact-number{
    grid-area: number;
}

.section5-contacts .contact button{
    margin-top: 20px;
    grid-area: button;
}

.section5-contacts .contact:hover button{
    background-color: var(--mainBlue);
    color: white;
    box-shadow: 0px 20px 12px -11px var(--shadowColor)
}

.section4 .bg,
.section5 .bg{
    position: relative;
}

.section4 .bg::after{
    background: url("../src/doctor-with-mask.png") no-repeat;
}

.section5 .bg::after {
    background: url("../src/doctor-with-phone.png") no-repeat;
}

.section4 .bg::after,
.section5 .bg::after{
    width: 100%;
    height: 100%;
    content: "";
    bottom: 5%;
    position: absolute;
    background-size: contain;
    background-position-y: bottom;
    background-position-x: center;
    transform: scale(110%);
}



img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button{
    cursor: pointer;
    padding: 13px 23px;
    border-radius: 5px;
    border: 0;
}

button:hover {
    filter: brightness(125%);
}