*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    --horizontalPadding:130px;
    --mainBlue:#3269D9;
    --lightBlue:#E6F5FD;
    --darkBlue:#1E3E73;
    --darkGray:#6C7A93;
    --lightGray:#F2F2F2;
    --yellow:#ffd012;
    font-family: Dubai,Roboto,sans-serif;
    /*font-weight: bold;*/
}

header{
    width: 100%;
    padding: 50px var(--horizontalPadding);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(230,245,253,1) 51%, rgba(235,242,252,1) 100%);}

header > *:first-child{
    margin-right: auto;
}



body{
    height: 1000px;
}

button{
    padding: 15px 30px;
    border-radius: 5px;
    border: 0;
}