*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    --leftPadding:120px;
    --rightPadding:100px;
    --mainBlue:#3269D9;
    --lightBlue:#E6F5FD;
    --darkBlue:#1E3E73;
    --darkGray:#6C7A93;
    --lightGray:#F2F2F2;
    --yellow:#ffd012;
    font-family: Dubai,Roboto,sans-serif;
}

header{
    width: 100%;
    padding: 32px var(--rightPadding) 32px var(--leftPadding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(230,245,253,1) 51%, rgba(235,242,252,1) 100%);}

header > *:first-child{
    margin-right: auto;
}

section{
    margin-top: 5px;
}

.section1-content{
    padding: 100px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section1-content h2{
    line-height: 1;
    text-transform: capitalize;
}

.section1-content .medals {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
}

.section1-content .medals span {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section1-content .medals svg {
    color: var(--yellow);
}

body{
    height: 1000px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button{
    padding: 13px 23px;
    border-radius: 5px;
    border: 0;
}