.font-bg {
    font-size: 30px;
}

.font-md {
    font-size: 19px;
}

.font-xxl {
    font-size: 65px;
}

.semiBold{
    font-weight: 500;
}

.bold{
    font-weight: bold;
}

.color-blue{
    color: var(--mainBlue);
}

.color-darkBlue{
    color: var(--darkBlue);
}

.color-white{
    color: white;
}

.color-gray{
    color: var(--darkGray);
}

.bg-blue{
    background: var(--mainBlue);
}

.shadow{
    box-shadow: 0px 17px 33px -17px rgba(0,0,0,0.74);
    -webkit-box-shadow: 0px 17px 33px -17px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 17px 33px -17px rgba(0,0,0,0.74);
}

.even-columns{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}