@font-face {
    font-family: playFair;
    src: url("../fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: playFairItalic;
    src: url("../fonts/PlayfairDisplay-Italic.ttf");
}

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family:playFair,sans-serif;
}

header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    /*padding: 5px 10px;*/
    padding: 0px 10px;
    border-bottom: darkgray 2px solid;
    background: #84b6f4;
    z-index: 1;
}

main{
    display: flex;
    flex-direction: column;
    background: #b2e2f2;
    align-items: center;
    padding: 0 2.5% 30px;
}

.logo {
    display: flex;
    gap: 20px;
}

.logo > * {
    width: 100%;
    display: grid;
    place-items: center;
    font-family: playFairItalic,sans-serif;
}

.logo img {
    width: 50px;
    height: 60px;
    border-radius: 5px;
    border: black 2px solid;
    cursor: pointer;
}

header nav {
    display: flex;
    align-items: center;
    justify-items: center;
}

header nav a{
    height: 100%;
    display: grid;
    place-items: center;
    font-weight: bold;
    text-decoration: none;
    transition: all ease-in .25s;
    padding: 5px 10px;
}

header nav a:hover{
    filter: brightness(70%);
    background: #318cff;
    color: white;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea{
    resize: vertical;
}