.order-form{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.display-options{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.display-options .options{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:2.5%;
}

.display-options .options > * {
    width: 100%;
}

.option-checkbox label{
    --ratio: 1 / 0.66;
    isolation: isolate;
    position: relative;
    cursor: pointer;
    width: 100%;
    aspect-ratio: var(--ratio);
    display: grid;
    place-items: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

@media (max-width: 700px) {
    .addonds{
        flex-wrap: wrap;
    }

    .display-options .addonds > *{
        margin-top: 10px;
        width: 40%;
    }
}

.option-checkbox input[type="checkbox"]{
    display: none;
}

.option-checkbox label::before{
    content: "";
    position: absolute;
    width: 100%;
    aspect-ratio: var(--ratio);
    z-index: -3;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.option-checkbox input:checked + label::before {
    filter: brightness(60%);
}

.info-input{
    display: flex;
    gap: 5px;
}

.info-input input{
    width: 100%;
}

.info-input span::after{
    content: ":";
}

button[type="submit"]{
    margin-top: 10px;
}

.info-user {
    max-width: 40%;
    min-width: 300px;
}


label[for="flavor_vainilla"]::before{
    background-image: url("../src/pastel de vainilla.webp");
}

label[for="flavor_chocolate"]::before{
    background-image: url("../src/pastel de chocolate.webp");
}

label[for="flavor_redvelvet"]::before{
    background-image: url("../src/pastel de red velvet.jpg");
}

label[for="addond_chispas"]::before{
    background-image: url("../src/pastel chispas.jpg");
}

label[for="addond_chocolates"]::before{
    background-image: url("../src/pastel mini chocolates.webp");
}

label[for="addond_mandm"]::before{
    background-image: url("../src/pastel m&m.jpg");
}

label[for="addond_fondant"]::before{
    background-image: url("../src/pastel fondant.webp");
}