.order-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.display-options{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.display-options > h2 {
    text-align: center;
}

.display-options .options{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:2.5%;
}

.display-options .options > * {
    width: 100%;
}

.option-checkbox label{
    --ratio: 1 / 0.66;
    isolation: isolate;
    position: relative;
    cursor: pointer;
    width: 100%;
    aspect-ratio: var(--ratio);
    display: grid;
    place-items: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

@media (max-width: 700px) {
    .addonds{
        flex-wrap: wrap;
    }

    .display-options .addonds > *{
        margin-top: 10px;
        width: 40%;
    }
}

.option-checkbox input[type="checkbox"]{
    display: none;
}

.option-checkbox label::before{
    content: "";
    position: absolute;
    width: 100%;
    aspect-ratio: var(--ratio);
    z-index: -3;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    transition: filter ease-in .25s;
}

.option-checkbox label:hover::before {
    filter: brightness(60%);
}

.option-checkbox input:checked + label::before {
    filter: brightness(60%);
}

.info-user {
    /*max-width: 50%;*/
    min-width: 300px;
    justify-content: center;
    align-items: center;
}

.info-input{
    width: 40%;
    display: flex;
    gap: 5px;
}

.info-input input,
.info-input textarea{
    width: 100%;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    padding: 10px;
}
.info-input span::after{
    content: ":";
}

.submitSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.submitSection button{
    cursor: pointer;
    border-radius: 5px;
    border:1px black solid;
    background: #b0c2f2;
    width: 20%;
}

label[for="flavor_vainilla"]::before{
    background-image: url("../src/pastel de vainilla.webp");
}

label[for="flavor_chocolate"]::before{
    background-image: url("../src/pastel de chocolate.webp");
}

label[for="flavor_redvelvet"]::before{
    background-image: url("../src/pastel de red velvet.jpg");
}

label[for="addond_chispas"]::before{
    background-image: url("../src/pastel chispas.jpg");
}

label[for="addond_chocolates"]::before{
    background-image: url("../src/pastel mini chocolates.webp");
}

label[for="addond_mandm"]::before{
    background-image: url("../src/pastel m&m.jpg");
}

label[for="addond_fondant"]::before{
    background-image: url("../src/pastel fondant.webp");
}