.order-form{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.display-options{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.info-input{
    display: flex;
    gap: 5px;
}

.info-input input{
    width: 100%;
}

.info-input span::after{
    content: ":";
}

button[type="submit"]{
    margin-top: 10px;
}

.info-user {
    max-width: 40%;
    min-width: 300px;
}